@import "../UI/_breakpoints.scss";

.step-inside {
    margin-top: 15px;
    padding: 36px 0 0;
    font-size: 1.6rem;
    font-size: 1.9rem;
    color: white;
    // border: 2px solid white;
    border: 0;
    background-color: transparent;

    @include bp(v4k) {
        font-size: 9rem;
    }
}