// Crackly Lines 20
// font-family: crackly, sans-serif;
// font-weight: 400;

// Crackly Lines 60
// font-family: crackly-lines-60, sans-serif;
// font-weight: 400;

@import "../UI/_breakpoints.scss";

.homepage {
  width: 100vw;
  height: 100vh;

  a {
    padding-bottom: 2px;
    border-bottom: 2px solid white;

    p {
      margin: 0;
      padding: 0;
      line-height: 1;  
    }
  }

  &__crackly-grid {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    // opacity: 0.2;
    display: none;
  }

  .crackly-text {
    top: -100px;
    z-index: 0;
  }

  video.fiorucci {
    object-fit: cover;
    object-position: -18vw -5vh;
    width: 107vw;
    height: 105vh;
  }

  .p5Canvas {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw !important;
    height: calc(100vh - 50px) !important;
  }

  &__words {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66%;
    max-width: 600px;
    padding: 0 30px 40px;
    color: white;
    border: 2px solid #0043ff;
    // border: 2px solid #4dd32e;
    box-shadow: 0 0 0 2px #042fa3, 0 0 0 5px #4dd32e;
    box-shadow: 0px 0 0px 2px #00ff88, 0px 0px 0px 5px black,
      0px 0px 0 7px #00ff88;
    background-color: rgba(0, 0, 0, 0.55);
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  &__links {
    display: flex;
    align-items: center;

    a {
      transition: all 0.3s;

      &:hover {
        color: #4dd32e;
        // color: #0043ff;
        transition: all 0.3s;
      }
    }
  }

  &__spacer {
    padding: 0 10px;
  }
}
