.react-p5 {
  height: 100vh;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100vh - 50px);
  height: 100vh;
  padding: 0 10px;
  color: white;
  // border: 1px solid tomato;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  &__words {
    display: block;
    max-width: 700px;
    margin: auto;
    padding: 0 15px 15px;
    // background-color: rgba(0, 0, 0, 0.7);
  }

  &__links {
      padding-top: 15px;
  }

  p {
    padding-bottom: 5px;
  }

  .form-fields {
      div:first-child {
        padding-bottom: 15px;
      }
  }

  label {
    display: block;
    margin-bottom: 3px;
  }

  input {
    width: 60%;
    height: 2rem;
    padding-left: 8px;

    &.button {
      width: auto;
      margin: 15px 0 0;
      padding: 5px 15px;
      color: white;
      border: 1px solid white;
      background-color: transparent;
      transition: all 0.3s;

      &:hover {
        color: #212121;
        background-color: white;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }

  .mc-status.error-message {
    padding-top: 15px;
  }

  .mc-status.success-message {
    padding-top: 15px;
  }
}
