@import "../UI/_breakpoints.scss";

@mixin img-rounded {
  border-radius: 0 380px;
}

.hypno-container {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: calc(100vh - 50px);

  @include bp(v4k) {
    height: 100vh;
  }
}

.hypnodelic {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);

  @include bp(v4k) {
    height: 100vh;
  }

  * {
    box-sizing: border-box;
  }

  &_outer {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15px;
    background-color: deepskyblue;

    @include bp(v4k) {
      padding: 80px;
    }
  }

  &_canvas {
    position: relative;
    height: 100%;
    background: #121212;
    border-radius: 0 140px;

    @include bp(v4k) {
      @include img-rounded;
    }
  }

  &_border {
    position: absolute;
    top: 2%;
    left: 3%;
    width: 94.5%;
    height: 96.5%;
    border: 10px solid #ffffff;
    border-radius: 0 130px;

    @include bp(mid) {
      top: 1.5%;
      left: 2%;
      width: 96.2%;
      height: 97%;
    }

    @include bp(lg) {
      top: 1.5%;
      left: 1.4%;
      width: 97.4%;
      height: 97%;
    }

    @include bp(xl) {
      top: 1.5%;
      left: 1.1%;
      width: 97.9%;
      height: 97%;
    }

    @include bp(v4k) {
      top: 1%;
      left: 2%;
      width: 96%;
      height: 98%;
      border-width: 25px;
      border-radius: 0 370px;
    }
  }

  &_media {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 140px;

    @include bp(v4k) {
      @include img-rounded;
    }
  }

  &_flag {
    position: absolute;
    bottom: 13%;
    left: -5px;
    height: 35%;
  }
}

// Custom Colors
// 
@import "./HypnoCustom.scss";