@import "../UI/_breakpoints.scss";

.hypno-container {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}

.hypnodelic {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // margin-top: 40px;

  * {
    box-sizing: border-box;
  }

  &_outer {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 80px;
    background-color: deepskyblue;
  }

  &_canvas {
    position: relative;
    height: 100%;
    background: #121212;
    border-radius: 0 140px 0 140px;
  }

  &_border {
    position: absolute;
    top: 1%;
    left: 2%;
    width: 96%;
    height: 98%;
    border: 26px solid #ffffff;
    border-radius: 0 130px 0 130px;
  }

  &_media {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 140px 0 140px;
  }

  &_flag {
    position: absolute;
    bottom: 13%;
    left: -5px;
    height: 35%;
  }

  .yoal {
    background-color: deeppink;

    .hypnodelic_border {
      border-color: deepskyblue;
    }
  }

  .yoal-all-blue {
    background-color: deepskyblue;

    .hypnodelic_border {
      border-color: deepskyblue;
    }
  }

  .yoal-green {
    background-color: #00DBD3;

    .hypnodelic_border {
      border-color: #00DBD3;
    }
  }
}
