@import "../UI/_breakpoints.scss";

body {
  // overflow: hidden;
}

body #root {
  width: 100%;
}

.header {
  // overflow-y: scroll;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 50px;
  color: white;
  border-bottom: 1px solid white;
  background-color: #3c3c3c;
  z-index: 2;

  @include bp(v4k) {
    display: none;
    height: 100px;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__logo {
    width: auto;
    height: 28px;
    margin-left: 20px;

    &:hover {
      cursor: pointer;
    }

    @include bp(mob) {
      margin-left: 10px;
    }

    @include bp(v4k) {
      height: 50px;
      margin-left: 50px;
    }
  }

  a {
    text-decoration: none;
  }

  &__title-tagline {
    display: flex;
    align-items: flex-end;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    h2 {
      margin: 3px 0 0 15px;
      font-size: 1.2rem;
      line-height: 22px;

      @include bp(mob) {
        margin-left: 10px;
      }

      @include bp(v4k) {
        margin-left: 20px;
        font-size: 2.6rem;
        line-height: 1;
      }
    }

    p {
      margin: 0 0 0 10px;
      font-size: 0.9rem;
      line-height: 19px;
    }
  }

  .page-links {
    position: absolute;
    top: 50px;
    left: -220px;
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-left: 0;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
    background-color: #3c3c3c;
    z-index: 3;

    @include bp(v4k) {
      margin-left: 20px;
      font-size: 2rem;
      line-height: 1.1;
    }

    a {
      padding: 10px 2px;
      color: white;
      text-decoration: none;
      border-bottom: 1px solid white;

      &:first-child {
        padding-top: 5px;
      }

      &:last-child {
        padding-bottom: 0;
        border: 0;
      }
    }
  }

  .toggle-links {
    left: -220px;
    transition: left 400ms;

    &-enter {
      left: 0;
      transition: left 400ms;
    }

    &-enter-done {
      left: 0;
      transition: left 400ms;
    }

    &-exit {
      left: -220px;
      transition: left 400ms;
    }

    &-exit-done {
      left: -220px;
      transition: left 400ms;
    }
  }
}
