// Light: font-weight: 300;
// Italic: font-weight: 400; font-style: italic;
// Regular: font-weight: 400;
// Demi: font-weight: 700;
// Demi Italic: font-weight: 700; font-style: italic;
// Bold: font-weight: 700;
// Bold Italic: font-weight: 700; font-style: italic;

@import "../UI/_breakpoints.scss";

.artwork-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  color: white;
  line-height: 1;
  background-color: #212121;

  @include bp(mid) {
    padding: 20px 20px 0;
  }

  @include bp(dsk) {
    flex-direction: row;
    // padding: 30px 30px 0;
  }

  @include bp(md) {
    flex-direction: column;
  }

  @include bp(v4k) {
    padding: 50px 50px 0;
  }

  &__image {
    max-width: 100%;
    max-height: 53vh;
    margin-bottom: 30px;

    @include bp(dsk) {
      max-width: 60vw;
      max-height: 75vh;
      margin-right: 20px;
    }

    @include bp(md) {
      width: 100%;
      height: auto;
      // width: auto;
      // height: 70vh;
      max-height: 70vh;
      max-width: 100%;
    }

    @include bp(v4k) {
      margin: 0 0 50px;
    }
  }

  &__headstone {
    // max-width: 660px;

    @include bp(v4k) {
      // max-width: 60vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 165px;
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__deets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__artist-name {
    margin: 0 0 8px;
    font-size: 1.7rem;
    font-weight: 300;

    @include bp(v4k) {
      font-size: 5rem;
    }
  }

  &__artwork-title__title {
    margin: 0 0 15px;
    font-size: 1.3em;
    font-weight: 600;
    font-style: italic;
    color: white;

    span {
      margin-left: 5px;
      font-size: 1.1rem;
      font-weight: 500;
      font-style: normal;
    }

    @include bp(v4k) {
      margin: 0;
      font-size: 3.8rem;

      span {
        font-size: 3.6rem;
      }
    }
  }

  &__qr {
    width: 200px;

    @include bp(v4k) {
      width: 165px;
    }
  }

  &__artwork-info {
    margin: 0 0 20px;
    font-weight: 300;
    line-height: 1.4;

    @include bp(v4k) {
      max-width: 75%;
      font-size: 3rem;
    }
  }
}
