@import "../UI/_breakpoints.scss";

.slider-thumbs-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 44%;
  width: 260px;
  height: 75px;
  overflow: hidden;

  @include bp(mob) {
    display: none;
  }
}

.artwork-thumbnail {
  height: 100%;
}

.slider-thumbs {
  height: 100%;
  margin: 0 40px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .slick-list {
    height: 100%;
    padding-top: 20px;
    overflow: visible;
  }

  .slick-track {
    // top: 40%;
  }

  .slick-slide {
    transform: scale(0.7);
    height: 50px;
    padding: 0;
    transition: all 0.5s;

    div {
      height: 100%;

      // img {
      //   height: 100%;
      // }
    }
  }

  .slick-center {
    transform: scale(1.1);
    z-index: 100;
    transition: all 0.5s;
  }
}
