.slick-dots {
  bottom: -80px;

  li button:before {
    color: white;
  }

  li.slick-active button:before {
    color: white;
  }
}

.slick-prev,
.slick-next {
  top: 34%;
  width: 80px;
  height: 50px;
  // border: 1px solid tomato;

  &:before {
    content: "";
  }
}
