.the-print-qr {
  width: 15%;
}

.slick-slide {
  .welcome-page {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
.slick-dots {
  bottom: -80px;

  li button:before {
    color: white;
  }

  li.slick-active button:before {
    color: white;
  }
}

.slick-prev,
.slick-next {
  top: 34%;
  width: 80px;
  height: 50px;
  // border: 1px solid tomato;

  &:before {
    content: "";
  }
}
