@import "../UI/_breakpoints.scss";

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: calc(100vh - 50px);
  margin: auto;
  padding: 0 30px;
  color: white;
  text-align: center;

  * {
    margin: 0;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 3rem;
  }

  h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1;
  }

  h3 {
    font-size: 10rem;
  }

  p {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .horzintally {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
  }

  .leftRightEmote {
    padding: 0 30px;
    font-size: 5rem;
  }

  @include bp(mob) {
    padding: 0 10px;

    h1 {
      margin-bottom: 0px;
      font-size: 2rem;
    }
  
    h2 {
      margin-bottom: 30px;
      font-size: 1.5rem;
      line-height: 1;
    }
  
    p {
      margin-bottom: 20px;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__content {
      padding-bottom: 60px;
  }
}
