body {
  font-family: din-2014, sans-serif;
  // Light: font-weight: 300;
  // Italic: font-weight: 400; font-style: italic;
  // Regular: font-weight: 400;
  // Bold: font-weight: 700;
  // Bold Italic: font-weight: 700; font-style: italic;
  background-color: #212121;
}