body {
  font-family: din-2014, sans-serif;
  font-family: industry, sans-serif;
  // Industry Bold -- font-weight: 700;
  // Industry Demi -- font-weight: 600;
  // Industry Demi Italic -- font-weight: 600; font-style: italic;
  // Industry Medium -- font-weight: 500;
  // Industry Book -- font-weight: 400;
  // Industry Light -- font-weight: 300;
  background-color: #212121;
}

#root {
  overflow: hidden;
  height: 100vh;
}

.toggler {
  position: fixed;
  top: 18px;
  right: 10px;
  margin: 0;
  color: white;
  font-size: 0.9rem;
  line-height: 1;
  cursor: pointer;
}

a {
  color: white;
}