@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: din-2014, sans-serif;
}

body {
  /* height: 100vh; */
  margin: 0;
  background-color: #212121;
}

#root {
  /* height: 100vh; */
  overflow: hidden;
  overflow: scroll;
}

/* #root > div {
  position: relative;
  height: 100vh;
} */
