

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

.email p.mc-status__hidden {
  display: none;
  width: 80%;
  margin-bottom: 0;
  padding: 0;
  color: #ffc65c;
  line-height: 1.5;

  a {
    color: #ffc65c;
    line-height: 1;
    text-decoration: none;
    border-bottom: 1px solid #ffc65c;
  }
}

.mc-status.error-message,
.mc-status.success-message {
  a {
    text-decoration: none;
    border-bottom: 1px solid white;
  }
  + .mc-status__hidden {
    display: block;
    margin-top: 10px;
  }
}